In [1]:
from pathlib import Path
import pandas as pd
from dataloader import load_data

In [2]:
all_dfs = load_data(Path.cwd())

Downloading files...: 100%|██████████| 3/3 [00:00<00:00, 12252.11it/s]
Reading data from disk...this may take a minute: 100%|██████████| 3/3 [00:33<00:00, 11.29s/it]

In [3]:
all_dfs.keys()

dict_keys(['albums', 'artist_socials', 'twitter'])

In [4]:
print(all_dfs['albums'].columns)
print(all_dfs['albums'].info())
all_dfs['albums'].head()

Index(['name', 'year', 'track_count', 'month', 'day', 'album_id', 'artist_id',
       'release_type', 'release_date'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3301635 entries, 0 to 3301634
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   name          string
 1   year          Int64
 2   track_count   Int64
 3   month         Int64
 4   day           Int64
 5   album_id      string
 6   artist_id     string
 7   release_type  string
 8   release_date  string
dtypes: Int64(4), string(5)
memory usage: 239.3 MB
None

,name,year,track_count,month,day,album_id,artist_id,release_type,release_date
0,The Ocean,2019,1,1,16,02Ukzo2BGU3vpCsZHkfu7g,4dyndZiWds3qEwmDsMYbDL,singles,2019-01-16
1,Hula Hoop,2019,1,1,16,0AKXjn97mG86qyDRWfQ7M7,4dyndZiWds3qEwmDsMYbDL,singles,2019-01-16
2,Boyfriend,2019,3,10,30,0EHcrpzB7pecYTpVpgTy28,4dyndZiWds3qEwmDsMYbDL,singles,2019-10-30
3,Firestone,2019,1,1,16,0eO2KlYR1bILm7HtsI0HME,4dyndZiWds3qEwmDsMYbDL,singles,2019-01-16
4,Better Now (Instrumental),2018,1,12,17,0ipUfvDtGvyNiU1mRj8Nil,4dyndZiWds3qEwmDsMYbDL,singles,2018-12-17

In [5]:
print(all_dfs['twitter'].columns)
print(all_dfs['twitter'].info())
all_dfs['twitter'].head()

Index(['id', 'name', 'username', 'bio', 'location', 'url', 'join_date',
       'join_time', 'tweets', 'following', 'followers', 'likes', 'media',
       'private', 'verified', 'profile_image_url', 'background_image'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77786 entries, 0 to 77785
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77785 non-null  object
 1   name               77601 non-null  object
 2   username           77623 non-null  object
 3   bio                71726 non-null  object
 4   location           56494 non-null  object
 5   url                69038 non-null  object
 6   join_date          77388 non-null  object
 7   join_time          77388 non-null  object
 8   tweets             77388 non-null  float64
 9   following          77388 non-null  float64
 10  followers          77388 non-null  float64
 11  likes              77388 non-null  float64
 12  media              77388 non-null  object
 13  private            77345 non-null  object
 14  verified           77132 non-null  float64
 15  profile_image_url  77132 non-null  object
 16  background_image   73944 non-null  object
dtypes: float64(5), object(12)
memory usage: 10.1+ MB
None

,id,name,username,bio,location,url,join_date,join_time,tweets,following,followers,likes,media,private,verified,profile_image_url,background_image
0,35414263,AUNTIE G,Gifted_Gab,Want to impress me? Jump in the air & stay the...,SEA is home / LA for now,https://giftedgabmusic.com,25 Apr 2009,10:47 PM,83532.0,1666.0,14326.0,33248.0,4656,0,1.0,https://pbs.twimg.com/profile_images/120575272...,https://pbs.twimg.com/profile_banners/35414263...
1,35414263,AUNTIE G,Gifted_Gab,Want to impress me? Jump in the air & stay the...,SEA is home / LA for now,https://giftedgabmusic.com,25 Apr 2009,10:47 PM,83537.0,1667.0,14324.0,33249.0,4656,0,1.0,https://pbs.twimg.com/profile_images/120575272...,https://pbs.twimg.com/profile_banners/35414263...
2,3293453286,The Sisterhood Band,thesisterhood,Ruby Stewart & Alyssa Bonagura | Sony Music Na...,"Nashville, TN",NaN,25 Jul 2015,12:58 PM,1612.0,121.0,3217.0,2344.0,68,0,1.0,https://pbs.twimg.com/profile_images/996799054...,https://pbs.twimg.com/profile_banners/32934532...
3,237390278,DJ VIRUS DI UNRULY ONE,Unrulyvirus,Star Bwoy Clothing: http://www.starbwoyclothin...,"Indianapolis, IN",http://www.starbwoyclothing.com,12 Jan 2011,10:51 AM,2945.0,373.0,69.0,217.0,1393,0,0.0,https://pbs.twimg.com/profile_images/124301062...,https://pbs.twimg.com/profile_banners/23739027...
4,237390278,DJ VIRUS DI UNRULY ONE,Unrulyvirus,Star Bwoy Clothing: http://www.starbwoyclothin...,"Indianapolis, IN",http://www.starbwoyclothing.com,12 Jan 2011,10:51 AM,2945.0,373.0,69.0,217.0,1393,0,0.0,https://pbs.twimg.com/profile_images/124301062...,https://pbs.twimg.com/profile_banners/23739027...

In [4]:
twitter = all_dfs['twitter'].convert_dtypes()
twitter

,id,name,username,bio,location,url,join_date,join_time,tweets,following,followers,likes,media,private,verified,profile_image_url,background_image
0,35414263,AUNTIE G,Gifted_Gab,Want to impress me? Jump in the air & stay the...,SEA is home / LA for now,https://giftedgabmusic.com,25 Apr 2009,10:47 PM,83532,1666,14326,33248,4656,0,1,https://pbs.twimg.com/profile_images/120575272...,https://pbs.twimg.com/profile_banners/35414263...
1,35414263,AUNTIE G,Gifted_Gab,Want to impress me? Jump in the air & stay the...,SEA is home / LA for now,https://giftedgabmusic.com,25 Apr 2009,10:47 PM,83537,1667,14324,33249,4656,0,1,https://pbs.twimg.com/profile_images/120575272...,https://pbs.twimg.com/profile_banners/35414263...
2,3293453286,The Sisterhood Band,thesisterhood,Ruby Stewart & Alyssa Bonagura | Sony Music Na...,"Nashville, TN",<NA>,25 Jul 2015,12:58 PM,1612,121,3217,2344,68,0,1,https://pbs.twimg.com/profile_images/996799054...,https://pbs.twimg.com/profile_banners/32934532...
3,237390278,DJ VIRUS DI UNRULY ONE,Unrulyvirus,Star Bwoy Clothing: http://www.starbwoyclothin...,"Indianapolis, IN",http://www.starbwoyclothing.com,12 Jan 2011,10:51 AM,2945,373,69,217,1393,0,0,https://pbs.twimg.com/profile_images/124301062...,https://pbs.twimg.com/profile_banners/23739027...
4,237390278,DJ VIRUS DI UNRULY ONE,Unrulyvirus,Star Bwoy Clothing: http://www.starbwoyclothin...,"Indianapolis, IN",http://www.starbwoyclothing.com,12 Jan 2011,10:51 AM,2945,373,69,217,1393,0,0,https://pbs.twimg.com/profile_images/124301062...,https://pbs.twimg.com/profile_banners/23739027...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77781,1012261389988081664,Elin,elin_WRLD,<NA>,<NA>,<NA>,28 Jun 2018,2:08 AM,21,16,10,12,21,0,0,https://pbs.twimg.com/profile_images/108306712...,https://pbs.twimg.com/profile_banners/10122613...
77782,29855450,B4G Tha Kid,b4gthakid,Ex Teen Musician on @capitolrecords,Everywhere You Not,https://open.spotify.com/artist/7M5jwsDzKsHZYE...,8 Apr 2009,4:33 PM,6259,3621,740,6628,639,0,0,https://pbs.twimg.com/profile_images/124516086...,https://pbs.twimg.com/profile_banners/29855450...
77783,29413922,Big Dreez,drezus,Anishinaabe | Plains Cree | Father | MC |,Blackfoot Territory/ YYC,http://www.drezus.com,7 Apr 2009,2:01 AM,29823,1191,4769,3767,1404,0,0,https://pbs.twimg.com/profile_images/122823708...,https://pbs.twimg.com/profile_banners/29413922...
77784,37585364,MEGAHURTZ™,megahurtzedm,MANAGER: briansquarebassmgmt@gmail.com BOOKING...,USA,http://soundcloud.com/megahurtzofficial,3 May 2009,8:34 PM,2006,631,1258,6066,335,0,0,https://pbs.twimg.com/profile_images/109041714...,https://pbs.twimg.com/profile_banners/37585364...
77785,487886074,Jan Martin,JanMartinMusic,"Making music, like going underwater into a who...",Hamburg,http://www.jan-martin.info,9 Feb 2012,1:06 PM,68,6,97,5,7,0,0,https://pbs.twimg.com/profile_images/181598110...,<NA>

In [6]:
all_dfs['twitter'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77786 entries, 0 to 77785
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77785 non-null  object
 1   name               77601 non-null  object
 2   username           77623 non-null  object
 3   bio                71726 non-null  object
 4   location           56494 non-null  object
 5   url                69038 non-null  object
 6   join_date          77388 non-null  object
 7   join_time          77388 non-null  object
 8   tweets             77388 non-null  float64
 9   following          77388 non-null  float64
 10  followers          77388 non-null  float64
 11  likes              77388 non-null  float64
 12  media              77388 non-null  object
 13  private            77345 non-null  object
 14  verified           77132 non-null  float64
 15  profile_image_url  77132 non-null  object
 16  background_image   73944 non-null  object
dtypes: float64(5), object(12)
memory usage: 10.1+ MB

In [7]:
print(all_dfs['artist_socials'].info())
all_dfs['artist_socials'].tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333033 entries, 0 to 333032
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   artist_id       333033 non-null  object
 1   follower_count  333033 non-null  int64
 2   instagram       232845 non-null  object
 3   twitter         164696 non-null  object
dtypes: int64(1), object(3)
memory usage: 10.2+ MB
None

,artist_id,follower_count,instagram,twitter
333028,1vpKzMP5zYX0y0x0PwFPJF,92,https://instagram.com/nateconner23,https://twitter.com/nconner23
333029,5IbMXzqnGCm3WKt3XweUCn,439,https://instagram.com/ynbilly,https://twitter.com/ynbilly93
333030,5IbMXzqnGCm3WKt3XweUCn,439,https://instagram.com/ynbilly,https://twitter.com/ynbilly93
333031,5IbMXzqnGCm3WKt3XweUCn,439,https://instagram.com/ynbilly,https://twitter.com/ynbilly93
333032,5IbMXzqnGCm3WKt3XweUCn,439,https://instagram.com/ynbilly,https://twitter.com/ynbilly93

In [5]:
all_dfs['twitter'].loc[1860:1865, :]

,id,name,username,bio,location,url,join_date,join_time,tweets,following,followers,likes,media,private,verified,profile_image_url,background_image
1860,3026114939,Nikko Tank 🇬🇷,nikkotank,NEW MUSIC BELOW :📧mr.boumboulis@gmail,"Wheaton, MD",https://linktr.ee/nikkotank,8 Feb 2015,11:00 PM,29114,465,523,12328,112,0,0,https://pbs.twimg.com/profile_images/124262934...,https://pbs.twimg.com/profile_banners/30261149...
1861,1218002693865857024,Lost Symphony,lostsymphony1,Debut album ‘Chapter I’ available everywhere N...,<NA>,https://lostsymphony.com,16 Jan 2020,6:51 PM,71,4,14,2,62,0,0,https://pbs.twimg.com/profile_images/121800284...,https://pbs.twimg.com/profile_banners/12180026...
1862,270003218,Necronautical,Necronautical,"NAUT: Vocals & Guitar,",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1863,"CARCARRION: Guitar,",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1864,"ANCHORITE: Bass Guitar,",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1865,SLUGH: Drums.,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [10]:
all_dfs['twitter'] = all_dfs['twitter'].where(all_dfs['twitter'].notnull(), None)
all_dfs['twitter'].loc[1860:1865, :]

,id,name,username,bio,location,url,join_date,join_time,tweets,following,followers,likes,media,private,verified,profile_image_url,background_image
1860,3026114939,Nikko Tank 🇬🇷,nikkotank,NEW MUSIC BELOW :📧mr.boumboulis@gmail,"Wheaton, MD",https://linktr.ee/nikkotank,8 Feb 2015,11:00 PM,29114,465,523,12328,112,0,0,https://pbs.twimg.com/profile_images/124262934...,https://pbs.twimg.com/profile_banners/30261149...
1861,1218002693865857024,Lost Symphony,lostsymphony1,Debut album ‘Chapter I’ available everywhere N...,None,https://lostsymphony.com,16 Jan 2020,6:51 PM,71,4,14,2,62,0,0,https://pbs.twimg.com/profile_images/121800284...,https://pbs.twimg.com/profile_banners/12180026...
1862,270003218,Necronautical,Necronautical,"NAUT: Vocals & Guitar,",None,None,None,None,None,None,None,None,None,None,None,None,None
1863,"CARCARRION: Guitar,",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1864,"ANCHORITE: Bass Guitar,",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1865,SLUGH: Drums.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [12]:
all_dfs['twitter'] = all_dfs['twitter'].convert_dtypes() 
all_dfs['twitter'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77786 entries, 0 to 77785
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77785 non-null  string
 1   name               77601 non-null  string
 2   username           77623 non-null  string
 3   bio                71726 non-null  string
 4   location           56494 non-null  string
 5   url                69038 non-null  string
 6   join_date          77388 non-null  string
 7   join_time          77388 non-null  string
 8   tweets             77388 non-null  Int64
 9   following          77388 non-null  Int64
 10  followers          77388 non-null  Int64
 11  likes              77388 non-null  Int64
 12  media              77388 non-null  string
 13  private            77345 non-null  string
 14  verified           77132 non-null  Int64
 15  profile_image_url  77132 non-null  string
 16  background_image   73944 non-null  string
dtypes: Int64(5), string(12)
memory usage: 10.5 MB

In [6]:
import sqlalchemy
from sqlalchemy.types import BOOLEAN, INT, BIGINT, DateTime, Text
import psycopg2

# username = 'aevillarreal'
# password = 'Second12'

username = 'krmiddlebrook'
password = 'Transit13'

schema_name = 'song_pop'


db_url = f'postgresql://{username}:{password}@bsds200.c3ogcwmqzllz.us-east-1.rds.amazonaws.com/bsdsclass'
db = sqlalchemy.create_engine(db_url)

In [9]:
with db.connect() as conn:
    query = f'''
            DROP Table {schema_name}.twitter_test;
        '''
    conn.execute(query)

In [41]:
query = '''
    SELECT * FROM song_pop.twitter_test LIMIT 10;
'''
table = pd.read_sql(query, con=db)

In [10]:
twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77786 entries, 0 to 77785
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77785 non-null  string
 1   name               77601 non-null  string
 2   username           77623 non-null  string
 3   bio                71726 non-null  string
 4   location           56494 non-null  string
 5   url                69038 non-null  string
 6   join_date          77388 non-null  string
 7   join_time          77388 non-null  string
 8   tweets             77388 non-null  Int64
 9   following          77388 non-null  Int64
 10  followers          77388 non-null  Int64
 11  likes              77388 non-null  Int64
 12  media              77388 non-null  string
 13  private            77345 non-null  string
 14  verified           77132 non-null  Int64
 15  profile_image_url  77132 non-null  string
 16  background_image   73944 non-null  string
dtypes: Int64(5), string(12)
memory usage: 10.5 MB

In [11]:
cols = ['id', 'name', 'username', 'bio', 'location', 'url', 'join_date', 'join_time', 'media', 'private', 'profile_image_url', 'background_image']
twitter.loc[:, cols] = twitter.loc[:, cols].fillna('')

In [14]:
cols = ['tweets', 'following', 'followers', 'likes', 'verified']
twitter.loc[:, cols] = twitter.loc[:, cols].fillna(0)

In [15]:
twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77786 entries, 0 to 77785
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77786 non-null  string
 1   name               77786 non-null  string
 2   username           77786 non-null  string
 3   bio                77786 non-null  string
 4   location           77786 non-null  string
 5   url                77786 non-null  string
 6   join_date          77786 non-null  string
 7   join_time          77786 non-null  string
 8   tweets             77786 non-null  Int64
 9   following          77786 non-null  Int64
 10  followers          77786 non-null  Int64
 11  likes              77786 non-null  Int64
 12  media              77786 non-null  string
 13  private            77786 non-null  string
 14  verified           77786 non-null  Int64
 15  profile_image_url  77786 non-null  string
 16  background_image   77786 non-null  string
dtypes: Int64(5), string(12)
memory usage: 10.5 MB

In [7]:
all_dfs['albums'].loc[:10, :].to_sql(
    name='albums',
    con=db,
    schema=schema_name,
    index=False,
    if_exists="replace",
    method="multi",
)

In [14]:
print(all_dfs['albums'].shape[0])
list(range(0, all_dfs['albums'].shape[0], 1000))[0]

3301635

0

In [13]:
all_dfs['albums'].loc[3301000:None, :]

,name,year,track_count,month,day,album_id,artist_id,release_type,release_date
3301000,Lakes of Flame,2018,2,12,18,40Lt0SymWc7TK5ffqmfvaR,4DWnSG0RYPAds8EIKY26q3,singles,2018-12-18
3301001,The Devil (ANX Remix),2018,2,8,9,4Xt1vSUWX2evs3kLuInDdc,4DWnSG0RYPAds8EIKY26q3,singles,2018-08-09
3301002,Antisleep Vol. 01,2008,18,1,1,56QpDqnTzXqMn3Jjxv73lz,4DWnSG0RYPAds8EIKY26q3,albums,2008-01-01
3301003,Not Over Til We Say So (Rabbit Junk Remix),2018,2,5,11,5EwajWbgGMYFhCHKcGLMjw,4DWnSG0RYPAds8EIKY26q3,singles,2018-05-11
3301004,ULTRAnumb (Celldweller Remix),2018,1,11,26,5yqL0JISPMI653GYC8Ebh4,4DWnSG0RYPAds8EIKY26q3,singles,2018-11-26
...,...,...,...,...,...,...,...,...,...
3301630,Stay with Me,2018,2,9,2,259xBeIGPZJTANYMEuxAsm,4dymsRdkcdnQosO4YOwK39,singles,2018-09-02
3301631,Toxic Candy,2013,14,10,3,514YcNXaZK7uMPNO6sNN5X,4dyN2fwkUd8Y0qjKH7ztK0,albums,2013-10-03
3301632,This Time,2013,1,5,7,7LszyRelELNYXig57rOGaT,4dyN2fwkUd8Y0qjKH7ztK0,singles,2013-05-07
3301633,Don Julio,2019,1,1,1,7oSrgaSkOjXVKwTneVSVsI,4dyN2fwkUd8Y0qjKH7ztK0,singles,2019-01-01
3301634,Liquid,2020,1,1,21,01lWsTyte8DXHH99C7fhbf,4dyndZiWds3qEwmDsMYbDL,singles,2020-01-21

In [16]:
all_dfs['twitter'].to_parquet('data/twitter.parquet', index=False)

In [2]:
albums = pd.read_parquet('data/albums.parquet')
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448926 entries, 0 to 3448925
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   name          object
 1   year          int64
 2   track_count   int64
 3   month         float64
 4   day           float64
 5   album_id      object
 6   artist_id     object
 7   release_type  object
 8   release_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 236.8+ MB

In [4]:
albums = albums.convert_dtypes()
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448926 entries, 0 to 3448925
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   name          string
 1   year          Int64
 2   track_count   Int64
 3   month         Int64
 4   day           Int64
 5   album_id      string
 6   artist_id     string
 7   release_type  string
 8   release_date  datetime64[ns]
dtypes: Int64(4), datetime64[ns](1), string(4)
memory usage: 250.0 MB

In [15]:
albums = pd.read_csv('data/albums.tdf', sep='\t', engine='python')
albums = albums.convert_dtypes()
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3301635 entries, 0 to 3301634
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   name          string
 1   year          Int64
 2   track_count   Int64
 3   month         Int64
 4   day           Int64
 5   album_id      string
 6   artist_id     string
 7   release_type  string
 8   release_date  string
dtypes: Int64(4), string(5)
memory usage: 239.3 MB

In [ ]:
3301965

In [17]:
albums.loc[0:50, :].shape

(51, 9)